body{
    margin: 0;
    padding: 0;

}

#main{
    height: 100vh;
    background: linear-gradient(to top , #040529 , #59C6D4);
}

#particles{
    width: 100%;
    height: 100%;
}

#stone{

    position:absolute;
    bottom: 0px;
    right:0px;
  opacity: 50%;
      width: 200px;
      height: 200px;
    }
    #can{
  
      position:absolute;
      bottom: 15px;
    left:10px;
      bottom:20px;
      opacity: 50%;
        width: 200px;
        height: 200px;
      }
      #bottle{

        position:absolute;
        top: 150px;
        right:20px;
      opacity: 50%;
          width: 200px;
          height: 200px;
        }
        #fish{
            position:absolute;
            width: 20%;
            height: 20%;
            /* border:2px solid #000 ; */
            transition: 0.1s;
            /* box-sizing: border-box; */
            transform :translate(-50%,-50%) ;
        }
